<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_c4gdeS_Vi9A25bRHi6AeY09cCiogDPU</string>
	<key>GCM_SENDER_ID</key>
	<string>1026555538015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grandida.pureworker</string>
	<key>PROJECT_ID</key>
	<string>pureworker-ed217</string>
	<key>STORAGE_BUCKET</key>
	<string>pureworker-ed217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026555538015:ios:714acbf5421788de1489ea</string>
</dict>
</plist>